<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XM Player</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="margin: 0 auto; width: 600px;">
        <div class="jumbotron">
            <div class="text-center">
                <h1 >Play a Jam!</h1>

                <br>

                <h3 id="songHeading">{{currentSong}}</h3>

                <div>
                    <button id="previousButton" class="btn btn-default"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                    <button id="playButton" class="btn btn-default"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button id="stopButton" class="btn btn-default"><i class="fa fa-stop" aria-hidden="true"></i></button>
                    <button id="nextButton" class="btn btn-default"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                </div>

                <br>
                <br>

                <h4> Select A Song From The Library:</h4>

                <ul  class="list-group" style="list-style: none; margin: 0 auto; width: 300px;">
                    {{#songList}}
                    <li class="list-group-item">
                            <div class="delete" style="float: right; display: inline-block">
                                <button class="btn btn-default" style="padding: 2px 4px; font-size: 8px;"><i class="fa fa-remove" aria-hidden="true"></i></button>
                            </div>
                                <a class="songItems" id="{{.}}"href="">{{.}}</a></li>
                    {{/songList}}
                </ul>
            </div>
        </div>


        <h3>Or Upload Your Own:</h3>

        <form ref='uploadForm'
            id='uploadForm'
            action='http://localhost:3000/upload'
            method='post'
            encType="multipart/form-data">
                <input type="file" name="songUpload" />
                <button type='submit'/>
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </button>
        </form>
    </div>

    <script type="text/javascript" src="player.js"></script>

    <script type="text/javascript" src="ft2.js"></script>

    <script src="https://use.fontawesome.com/c291dc5b36.js"></script>

    <script>
        var currentSong = '{{currentSong}}';
        var XMPlayer = new Modplayer();
        var songItems = document.getElementsByClassName('songItems');
        var deleteButtons = document.getElementsByClassName('delete');

    //add click actions to each button
        document.getElementById('playButton')
        .addEventListener('click', _ => playSong());

        document.getElementById('stopButton')
        .addEventListener('click', _ => stop());

        document.getElementById('nextButton')
        .addEventListener('click', _ => nextSong());

        document.getElementById('previousButton')
        .addEventListener('click', _ => previousSong());

    //add click action to each song in song list
    Array.from(songItems).forEach(function (currentValue, index) {
        currentValue.addEventListener('click', event => {
            event.preventDefault();
            changeSongByList(currentValue);
        });
    })

    //add click actions to x buttons to delete songs from song list
    Array.from(deleteButtons).forEach(i => i.addEventListener('click', event => deleteSong(event)));

    function setTitle(songTitle) {
        document.getElementById('songHeading').textContent = songTitle;
    };

    function deleteSong(event) {
        li = event.path.find(i => i.nodeName === "LI")
        elem = (li.children[1].id);
        location.assign('/delete/' + elem);
    }


    function nextSong() {
        var playing = false;
        var songs = Array.from(songItems);
        button = document.getElementById('playButton');
        if (XMPlayer.playing === true) {
            playing = true;
        }
        XMPlayer.stop();
        if (button.innerHTML === '<i class="fa fa-pause" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
        };
        currentIndex = songs.findIndex(function (element, index, array) {
            if (element.textContent === currentSong) {
                return true;
            };
        });
        if (currentIndex === songs.length -1) {
            currentSong = songs[0].textContent;
        } else {
            currentSong = songs[currentIndex + 1].textContent;
        };
        setTitle(currentSong);
        if (playing === true) {
            playSong();
        }
    };

    function autoNext() {
        var songs = Array.from(songItems);
        currentIndex = songs.findIndex(function (element, index, array) {
            if (element.textContent === currentSong) {
                return true;
            };
        });
        if (currentIndex === songs.length -1) {
            currentSong = songs[0].textContent;
        } else {
            currentSong = songs[currentIndex + 1].textContent;
        };
        setTitle(currentSong);
        playSong();
    };

    function previousSong() {
        var playing = false;
        var songs = Array.from(songItems);
        button = document.getElementById('playButton');
        if (XMPlayer.playing === true) {
            playing = true;
        }
        XMPlayer.stop();
        if (button.innerHTML === '<i class="fa fa-pause" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
        };
        currentIndex = songs.findIndex(function (element, index, array) {
            if (element.textContent === currentSong) {
                return true;
            };
        });
        if (currentIndex === 0) {
            currentSong = songs[songs.length - 1].textContent;
        } else {
            currentSong = songs[currentIndex - 1].textContent;
        };

        setTitle(currentSong);
        if (playing === true) {
            playSong();
        }
    };

    function changeSongByList(song) {
        button = document.getElementById('playButton');
        XMPlayer.stop();
        if (button.innerHTML === '<i class="fa fa-pause" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
        }
        currentSong = song.innerHTML;
        setTitle(currentSong);
        playSong();
    }

	function playSong () {
        if (XMPlayer.playing === false) {
            XMPlayer.autostart = true;
            XMPlayer.load('http://localhost:3000/songs/' + currentSong);
            playToPause();
        } else if (XMPlayer.playing === true) {
            XMPlayer.pause();
            playToPause();
        }
        XMPlayer.onStop = function () {
            if (XMPlayer.endofsong === true) {
                autoNext();
            }
        };
    };

    function playToPause() {
        button = document.getElementById('playButton');
        if(button.innerHTML === '<i class="fa fa-play" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
        }else if (button.innerHTML === '<i class="fa fa-pause" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
        }
    }

    function stop() {
        if (XMPlayer.playing === true) {
            XMPlayer.stop();
            if (button.innerHTML === '<i class="fa fa-pause" aria-hidden="true"></i>') {
            button.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
            }
        }
    }

    </script>
</body>
</html>
